
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
     font-family: "Inter", sans-serif;
     font-weight: 400, 600, 700;
     font-size: 1rem;
}

p{
    
    margin-bottom: 10%;
}

.retangulo {
    width: 480px;  
    height: 700px; 
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding-top: 60px;
}

.container{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10%;

}
h2{
    font-size: 1rem;
    color: hsl(75, 94%, 57%);
}

a{
    font-weight: bold;
    text-decoration: none;
    transition: 1s;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: block;
    width: 70%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: hsl(0, 0%, 20%);
    margin: 10px auto 10px auto;

}

.button:hover{
    transition: all 1s;
    background-color: hsl(75, 94%, 30%);
    transform: scale(1.05);
    
}

img[alt="avatar"] {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
 }
 
