
body{
    background-color: hsl(0, 0%, 8%);
     font-family: "Inter", sans-serif;
     font-weight: 400, 600, 700;
     font-size: 14px;
}
.container{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsl(0, 0%, 100%);

}

a{
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: block;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(0, 0%, 20%);
    margin: 10px auto 10px auto;
    border-width:
}

img[alt="avatar"] {
    border-radius: 50%;
 }